.btn
    @include btn-reset 
    @include row-component
    @include hover
    flex-grow: 0
    padding: 7px 12px
    text-transform: uppercase
    font-weight: 700
    font-size: 10px
    line-height: 25px
    color: #fff
    background-image: $grad
    cursor: pointer

    .icon 
        margin-left: 4px

        img 
            display: block