.games
    
    &__inner 
        background-image: url("../images/bg-games.jpg")
        background-repeat: no-repeat 
        background-size: cover
        background-position: center

        @media (max-width: $screenXXS)
            background-image: url("../images/bg-games-mob.jpg")

    &__title 
        margin: 0 0 10px 0
        text-transform: uppercase
        text-align: center
        font-weight: 800
        font-size: 26px
        line-height: 35px

        @media (max-width: $screenXS)
            margin-bottom: 28px
            font-size: 42px
            line-height: 48px

        @media (max-width: $screenXXS)
            margin-bottom: 14px
            font-size: 21px
            line-height: 24px

    &__text 
        margin: 0 auto 
        max-width: 600px
        text-align: center
        font-weight: 500
        font-size: 16px
        line-height: 25px

        @media (max-width: $screenXS)
            font-size: 28px
            line-height: 36px

        @media (max-width: $screenXXS)
            font-size: 14px
            line-height: 18px