.games-slider
    margin-top: 45px
    max-width: 100%

    @media (max-width: $screenXS)
        margin-top: 50px

    @media (max-width: $screenXXS)
        margin-top: 25px

    &-prev,
    &-next 
        @include centerV
        @include hover
        width: 38px
        height: 38px
        background-color: #fff
        z-index: 1
        cursor: pointer

        @media (max-width: $screenXS)
            width: 63px
            height: 96px

        @media (max-width: $screenXXS)
            width: 32px
            height: 48px

        img 
            @include center 
            display: block

            @media (max-width: $screenXS)
                width: 26px
                height: 39px

            @media (max-width: $screenXXS)
                width: 13px
                height: 20px

    &-prev
        left: -4px

        @media (max-width: $screenXS)
            left: -6px

            img 
                margin-left: -6px

        @media (max-width: $screenXXS)
            left: -3px

            img 
                margin-left: -3px

    &-next
        right: -4px

        @media (max-width: $screenXS)
            right: -6px

            img 
                margin-left: 6px

        @media (max-width: $screenXXS)
            right: -3px

            img 
                margin-left: 3px

.games-slide
    text-align: center
    opacity: 0.5
    transition: opacity 0.3s ease

    @media (max-width: $screenXS)
        padding-bottom: 100px

    @media (max-width: $screenXXS)
        padding-bottom: 50px

    // &.swiper-slide-prev
    //     -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)))

    // &.swiper-slide-next
    //     -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)))

    &.swiper-slide-active
        opacity: 1

    &__title 
        margin: 0 0 25px 0
        text-align: center
        font-weight: 700
        font-size: 18px
        line-height: 25px

        @media (max-width: $screenXS)
            margin-bottom: 33px
            font-size: 26px
            line-height: 32px

        @media (max-width: $screenXXS)
            margin-bottom: 16px
            font-size: 13px
            line-height: 16px

    &__item 
        margin-bottom: 26px

        &:last-child 
            margin-bottom: 0

        @media (max-width: $screenXXS)
            margin-bottom: 13px

    &__info 
        display: flex 
        justify-content: center
        align-items: center
        margin-bottom: 4px
        text-transform: uppercase
        font-weight: 700
        font-size: 22px
        line-height: 25px

        @media (max-width: $screenXS)
            margin-bottom: 5px
            font-size: 30px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 3px
            font-size: 15px
            line-height: 20px

    &__flag 
        margin: 0 25px
        display: block
        width: 54px
        height: 36px

        @media (max-width: $screenXS)
            display: none

    &__date 
        margin: 0
        text-transform: uppercase
        font-size: 11.72px
        line-height: 21px

        @media (max-width: $screenXS)
            font-size: 22px
            line-height: 34px

        @media (max-width: $screenXXS)
            font-size: 11px
            line-height: 17px