.intro 

    &__inner 
        background-image: url("../images/bg-intro.jpg")
        background-repeat: no-repeat 
        background-size: cover
        background-position: center

        @media (max-width: $screenXXS)
            background-image: url("../images/bg-intro-mob.jpg")

    &__title 
        margin: 0 0 27px 0
        text-transform: uppercase
        text-align: center
        font-weight: 700
        font-size: 91px
        line-height: 90px

        @media (max-width: $screenXS)
            margin-bottom: 15px
            font-size: 78px
            line-height: 112px

        @media (max-width: $screenXXS)
            margin-bottom: 8px
            font-size: 39px
            line-height: 56px

    &__text 
        margin: 0 auto 
        max-width: 660px
        text-align: center
        font-size: 500px
        font-size: 17px
        line-height: 25px

        @media (max-width: $screenXS)
            margin-bottom: 300px
            font-weight: 500
            font-size: 28px
            line-height: 36px

            br 
                display: none

        @media (max-width: $screenXXS)
            margin-bottom: 50px
            font-size: 14px
            line-height: 18px