.offers
    height: auto !important
    background-color: transparent

    &__wrapper 
        position: relative
        padding-top: 50px
        padding-bottom: 100px

        @media (max-width: $screenXS)
            padding-top: 125px

        @media (max-width: $screenXXS)
            padding-top: 63px

    &__bg 
        position: absolute
        top: -46px
        bottom: -96px
        left: 0
        right: 0
        background-color: #0E0E0C
        background-repeat: no-repeat
        background-image: url("../images/bg-offers.png")
        background-size: 100% auto
        background-position: top left
        //background-attachment: fixed

        //opacity: 0

        @media (max-width: $screenXS)
            top: -119px

        @media (max-width: $screenXXS)
            top: -60px

    &__inner 
        justify-content: flex-start
        min-height: 100%
        height: auto
        background-color: $transparent 
        background-image: none

        &:before 
            display: none

    &__content
        margin: 0 auto
        padding: 0 17px
        box-sizing: border-box
        max-width: 1064px

        @media (max-width: $screenM)
            max-width: 100%

        @media (max-width: $screenXS)
            padding: 0
            margin-left: -6px
            margin-right: -6px
            max-width: calc(100% + 12px)

        @media (max-width: $screenXXS)
            margin-left: -3px
            margin-right: -3px
            max-width: calc(100% + 6px)

    &__block 
        display: flex 
        flex-direction: column
        align-items: flex-start
        margin-bottom: 60px

        @media (max-width: $screenXXS)
            margin-bottom: 40px

    &__block-title 
        margin: 0 0 30px
        font-weight: 800
        font-size: 50.98px
        line-height: 52.58px

        @media (max-width: $screenXS)
            padding-left: 20px
            padding-right: 20px
            font-size: 25px
            line-height: 26px

        &._right 
            text-align: right

._cols 
    display: flex
    flex-direction: row

    @media (max-width: $screenXXS)
        flex-direction: column

    &._bottom 
        align-items: flex-end

.offer 
    margin-left: auto
    max-width: 900px

    &._1
        margin-bottom: 80px 

        @media (max-width: $screenXXS)
            margin-bottom: 40px

        // ._narrow 
        //     width: 37.78%
        //     min-width: 37.78%

        // ._wide 
        //     padding-top: 68px
        //     width: 62.22%
        //     min-width: 62.22%

        .offer__link 
            position: absolute
            left: 311px
            bottom: 35px

            @media (max-width: $screenXS)
                position: static

    &._2
        margin-bottom: 90px

        @media (max-width: $screenXXS)
            margin-bottom: 45px

        // .offer__link 
        //     margin-left: 690px
        //     transform: translateX(-100%)

    &._3
        margin-bottom: 85px

        @media (max-width: $screenXXS)
            margin-bottom: 40px

        // ._wide 
        //     width: 59.33%
        //     min-width: 59.33%

        // ._narrow 
        //     padding-top: 68px
        //     width: 40.67%
        //     min-width: 40.67%

    &._4

        .offer__col

            &._right
                padding-top: 43px

                @media (max-width: $screenXXS)
                    padding-top: 0

    &._5

        ._wide 
            padding-top: 25px

            @media (max-width: $screenXXS)
                padding-top: 0

    &._6 

        ._wide 
            width: 61.68%

            @media (max-width: $screenXXS)
                width: 100%

        ._narrow 
            width: 38.32%

            @media (max-width: $screenXXS)
                width: 100%

        .offer__col

            &._right
                padding-top: 0

    &__row 
        display: flex
        align-items: flex-start

    &__col 
        position: relative
        display: flex 
        flex-direction: column
        flex: none
        width: 50%

        @media (max-width: $screenXXS)
            width: 100%

        &._left 
            align-items: flex-end

            &._wide 
                padding-top: 60px
                width: 62.22%
                min-width: 62.22%

                @media (max-width: $screenXXS)
                    width: 100%

            &._narrow
                width: 37.78%
                min-width: 37.78%

                @media (max-width: $screenXXS)
                    width: 100%

        &._right
            align-items: flex-start

            &._wide
                padding-top: 68px
                width: 62.22%
                min-width: 62.22%

                @media (max-width: $screenXXS)
                    padding-top: 0
                    width: 100%

            &._narrow
                width: 37.78%
                min-width: 37.78%

                @media (max-width: $screenXXS)
                    width: 100%

    &__sector 
        position: relative
        background-color: #fff
        max-width: 100%

        &._size3
            width: 145px
            height: 122px

            img 
                @include center

        &._size4 
            width: 311px

        &._size5
            width: 340px

        &._size6
            margin-left: 75px
            width: 615px

        &._sizeR
            position: relative
            width: 145px
            height: 70px

            img 
                @include center

        &._sizeK
            display: flex 
            align-items: center
            box-sizing: border-box
            padding-left: 23px
            padding-right: 23px
            width: 200px
            height: 72px

            img 
                flex: none

        img 
            display: block
            margin-left: auto
            margin-right: auto
            max-width: 100%
            height: auto
