.scroll-link
    @include centerH
    @include hover
    bottom: 0
    display: block
    width: 38px
    height: 36px
    background-color: #fff
    z-index: 1

    @media (max-width: $screenXS)
        width: 96px
        height: 72px

    @media (max-width: $screenXXS)
        width: 48px
        height: 36px

    img 
        @include center 
        display: block

        @media (max-width: $screenXS)
            width: 39px
            height: 26px

        @media (max-width: $screenXXS)
            width: 20px
            height: 13px