.section
    position: relative
    display: flex
    flex-direction: column
    padding: 9px
    padding-top: 62px

    @media (max-width: $screenXS)
        padding: 0
        padding-top: 74px

    @media (max-width: $screenXXS)
        padding-top: 37px

    &__wrapper 
        position: relative
        flex-grow: 1
        display: flex
        flex-direction: column
        padding: 4px
        background-image: $grad

        @media (max-width: $screenXS)
            padding: 6px
            min-height: calc(100vh - 86px)

        @media (max-width: $screenXXS)
            padding: 3px 
            min-height: calc(100vh - 43px)

    &__inner 
        position: relative
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        color: #fff
        background-color: #6293aa

        &>* 
            position: relative

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-color: rgba(0, 0, 0, .2)
