.share 
    position: absolute
    bottom: 0
    left: 0

    @media (max-width: $screenXS)
        right: 0
        opacity: 0
        pointer-events: none 
        transition: opacity 0.3s ease

        &.visible 
            opacity: 1
            pointer-events: initial

.ya-share2

    &__list
        @include list-reset
        display: flex
        margin: 0 15px

        @media (max-width: $screenXS)
            justify-content: center

    &__item 
        @include hover
        margin: 8px 4px
        font-size: 0
        background-repeat: no-repeat 
        background-position: center

        @media (max-width: $screenXS)
            margin: 65px 4px

        @media (max-width: $screenXXS)
            margin: 32px 2px

        &_service

            &_vkontakte
                background-image: url("../images/svg/vk.svg")
                background-size: 14px 9px

                @media (max-width: $screenXS)
                    background-size: 37px 21px

                @media (max-width: $screenXXS)
                    background-size: 18px 10px

            &_facebook
                background-image: url("../images/svg/fb.svg")
                background-size: 6px 11px

                @media (max-width: $screenXS)
                    background-size: 16px 29px

                @media (max-width: $screenXXS)
                    background-size: 8px 15px

            &_twitter
                background-image: url("../images/svg/tw.svg")
                background-size: 10px 10px

                @media (max-width: $screenXS)
                    background-size: 27px 24px

                @media (max-width: $screenXXS)
                    background-size: 14px 12px

            &_odnoklassniki
                background-image: url("../images/svg/ok.svg")
                background-size: 9px 14px

                @media (max-width: $screenXS)
                    background-size: 23px 37px

                @media (max-width: $screenXXS)
                    background-size: 12px 19px

    &__link 
        display: block
        text-decoration: none
        width: 25px
        height: 20px

        @media (max-width: $screenXS)
            width: 80px
            height: 45px

        @media (max-width: $screenXXS)
            width: 40px
            height: 22px