.tile   
    box-sizing: border-box
    padding: 24px 38px
    max-width: 734px
    font-weight: 500
    font-size: 17px
    line-height: 25px
    color: $textColor 
    background-color: #fff

    @media (max-width: $screenXS)
        padding: 36px 32px
        max-width: 100%
        text-align: left
        font-size: 28px
        line-height: 36px

    @media (max-width: $screenXXS)
        padding: 18px 16px
        font-size: 14px
        line-height: 18px

    &__title 
        margin: 0 0 12px 0
        text-transform: uppercase
        text-align: center
        font-weight: 800
        font-size: 26px
        line-height: 32px

        @media (max-width: $screenXS)
            font-size: 42px
            line-height: 64px

        @media (max-width: $screenXXS)
            margin-bottom: 6px
            font-size: 21px
            line-height: 32px

    &__text 
        margin: 0

        @media (max-width: $screenXS)
            margin-bottom: 36px

            &:last-child 
                margin-bottom: 0

        @media (max-width: $screenXXS)
            margin-bottom: 18px

        a 
            @include hover
            font-weight: 600
            color: #ad68cb

    &._center 
        margin-left: auto
        margin-right: auto

    &._2
        margin-left: 90px
        max-width: 454px

    &._inner 
        padding-left: 28px
        padding-right: 28px

    &._left 
        margin-left: auto
        margin-right: 0
        display: inline-block
        vertical-align: top

