.uncover
    position: absolute
    top: -4px
    bottom: -4px
    left: -4px
    right: -4px
    display: flex
    overflow: hidden
    pointer-events: none

    &__slice 
        width: 20%
        min-width: 20px
        height: 100%
        background-color: #fff
        transition: transform 0.5s ease-in-out 0.7s
        transform: translateY(0)
        z-index: 50

    &.instant 

        .uncover__slice 
            transition: none !important;


.fp-section.active 

    .uncover

        &__slice 
            transform: translateY(-100%)

            &:nth-child(2)
                transition: transform 0.3s ease-in-out 0.9s

            &:nth-child(3)
                transition: transform 0.3s ease-in-out 1.1s

            &:nth-child(4)
                transition: transform 0.3s ease-in-out 1.3s

            &:nth-child(5)
                transition: transform 0.3s ease-in-out 1.5s

.offers 

    .uncover
        flex-direction: column

        &__slice 
            width: 100%
            height: 20vh
            transform: translateX(0)

    &.fp-section.active

        .uncover

            &__slice 
                transform: translateX(100%)

                &:nth-child(2)
                    transition: transform 0.3s ease-in-out 0.9s

                &:nth-child(3)
                    transition: transform 0.3s ease-in-out 1.1s

                &:nth-child(4)
                    transition: transform 0.3s ease-in-out 1.3s

                &:nth-child(5)
                    transition: transform 0.3s ease-in-out 1.5s

