// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1920px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 768px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #333;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
$grad: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%);
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'Montserrat', Arial, sans-serif;
