<section class="section games" data-anchor="games">
    <div class="section__wrapper games__wrapper">
        <div class="games__inner section__inner">
            <h1 class="games__title">Расписание матчей</h1>
            <p class="games__text">Наряжайтесь в цвета любимой команды и отправляйтесь на просмотр матча туда, где собираются сотни болельщиков. Ведь болеть — это еще и проявлять свою любовь к сборной через внешний вид! В торговых центрах VEGAS можно посмотреть прямые трансляции игр плей-офф, которые покажут на больших экранах для всех желающих.</p>
            <div class="games-slider">
                <div class="swiper-container js-games-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__team">A1/B2</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">C1/D2</span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__team">A1/B2</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">C1/D2</span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-germany.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Германия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Португалия</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-portugal.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-england.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Англия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Испания</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-spain.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-germany.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Германия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Португалия</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-portugal.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-england.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Англия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Испания</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-spain.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-germany.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Германия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Португалия</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-portugal.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-england.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Англия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Испания</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-spain.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-germany.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Германия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Португалия</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-portugal.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-england.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Англия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Испания</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-spain.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                        <div class="swiper-slide games-slide">
                            <h2 class="games-slide__title">1/4 финала</h2>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-germany.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Германия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Португалия</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-portugal.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 17:00</div>
                            </div>
                            <div class="games-slide__item">
                                <div class="games-slide__info">
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-england.png" width="54" height="36" alt="">
                                    </span>
                                    <span class="games-slide__team">Англия</span>
                                    &nbsp;&mdash;&nbsp;
                                    <span class="games-slide__team">Испания</span>
                                    <span class="games-slide__flag">
                                        <img src="assets/images/flag-spain.png" width="54" height="36" alt="">
                                    </span>
                                </div>
                                <div class="games-slide__date">6 июля, 21:00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="games-slider-prev js-game-prev">
                <img src="assets/images/arr-prev.png" width="11" height="16" alt="">
            </div>
            <div class="games-slider-next js-game-next">
                <img src="assets/images/arr-next.png" width="11" height="16" alt="">
            </div>
        </div>
        <div class="uncover">
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
        </div>
    </div>
    <a href="#offers" class="scroll-link menuanchor" data-menuanchor="offers">
        <img src="assets/images/arr.png" width="16" height="11" alt="">
    </a>
</section>