<section class="section intro" data-anchor="intro">
    <div class="section__wrapper intro__wrapper">
        <div class="intro__inner section__inner">
            <h1 class="intro__title">Играют все!</h1>
            <p class="intro__text">Мужчины в перьях и разноцветных шапках-ушанках, женщины в ярких футболках с огромными номерами на спинах, дети с разукрашенными лицами: большой футбол пришел в столицу! Все разговоры — только об этой великой игре. И этот чемпионат — отличный повод проявить свою индивидуальность, купив яркую и классную одежду, в которой можно в полной мере ощутить себя болельщиком. А где ее найти? Конечно, в VEGAS, где начался жаркий период футбольного шопинга. </p>
        </div>
        <div class="uncover">
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
        </div>
    </div>
    <a href="#games" class="scroll-link menuanchor" data-menuanchor="games">
        <img src="assets/images/arr.png" width="16" height="11" alt="">
    </a>
</section>