<section class="section offers" data-anchor="offers">
    <div class="section__wrapper offers__wrapper">
        <div class="offers__inner section__inner">
            <div class="offers__bg rellax"  data-rellax-speed="-10"></div>
            <div class="offers__content rellax"  data-rellax-speed="0">
                <div class="offers__block">
                    <div class="tile _big _center _intro">
                        <h2 class="tile__title">вегас. играют все!</h2>
                        <p class="tile__text">Чемпионат Мира по футболу никого не оставляет равнодушным, даже если вы далеки от спорта, зато близки к шопингу.</p>
                        <p class="tile__text">Торговые центры, магазины, рестораны – всех захватила футбольная лихорадка! Так, в торгово-развлекательных центрах Вегас помимо шопинга, развлечений и ресторанов, будут также проходить трансляции игр плей-офф – на больших экранах и абсолютно бесплатно.</p>
                        <p class="tile__text">Экраны будут установлены во всех трех торговых центрах сети: VEGAS Крокус Сити, VEGAS Кунцево и VEGAS Каширское шоссе. А одну из игр  ¼ финала будет комментировать Константин Генич – комментатор Матч ТВ.</p>
                    </div>
                </div>
                <div class="offers__block">
                    <div class="tile _2 ">
                        <p class="tile__text">Так что  футбол – это повод для шопинга. </p>
                    </div>
                </div>
                <div class="offers__block offer _cols _1">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector _size1">
                            <img src="assets/images/img-01.jpg" width="339" height="338" alt="">
                        </div>
                        <div class="offer__sector _size2">
                            <img src="assets/images/img-02.jpg" width="186" height="183" alt="">
                        </div>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="offer__sector _size3">
                            <img src="assets/images/logo-adidas.png" width="108" height="73" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Adidas — здесь можно найти гостевую и&nbsp;домашнюю форму наших парней, ведь ожидания вполне оправдались, мы вышли из группы, и наша форма — в числе сильнейших в мире! </p>
                        </div>
                        <div class="offer__sector _size4">
                            <img src="assets/images/img-03.jpg" width="311" height="333" alt="">
                        </div>
                        <a href="https://www.adidas.ru/russia" target="_blank" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="offers__block offer _cols _2">
                    <div class="offer__col _wide _left">
                        <div class="offer__sector _size3">
                            <img src="assets/images/logo-sportmaster.png" width="102" height="69" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Дополнить свой образ настоящего болельщика можно в сети <a href="https://www.sportmaster.ru/catalog/ofitsialnaya_litsenzionnaya_produktsiya">«Спортмастер»</a>. Поло, худи, яркие майки и футболки — все с символикой чемпионата. </p>
                            <p class="tile__text">И здесь же — официальные маскоты турнира — Забиваки всех размеров. Можно унести домой 40-сантиметрового плюшевого Забиваку и поставить его на самое почетное место перед телевизором — пусть тоже болеет за наших!</p>
                        </div>
                        <div class="offer__sector _size5">
                            <img src="assets/images/img-04.jpg" width="284" height="315" alt="">
                        </div>
                    </div>
                    <div class="offer__col _narrow _right">
                        <div class="offer__sector _sizeN">
                            <img src="assets/images/img-09.jpg" width="324" height="537" alt="">
                        </div>
                        <a href="https://www.sportmaster.ru/catalog/ofitsialnaya_litsenzionnaya_produktsiya" target="_blank" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                </div>
                <h2 class="offers__block-title">Модный футбольный <br>эксклюзив</h2>
                <div class="offers__block offer _cols _3">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector">
                            <img src="assets/images/img-10.jpg" width="311" height="544" alt="">
                        </div>
                        <a href="https://www.befree.ru/" target="_blank" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="offer__sector _size3">
                            <img src="assets/images/logo-befree.png" width="110" height="47" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Загляните в магазины бренда <a href="https://www.befree.ru/" target="_blank">Befree</a>. Тут целая капсульная коллекция #околофутболка, в которую вошли футболки, кроп-топы и майки, а также гольфы с&nbsp;веселыми фразами «левый нападающий» и «правый нападающий», бейсболки и шопперы с надписями на&nbsp;футбольную тему. Можно все лето щеголять в&nbsp;отличной майке со слоганом «From Russia with goal».</p>
                        </div>
                        <div class="offer__sector">
                            <img src="assets/images/img-11.png" width="202" height="223" alt="">
                        </div>
                    </div>
                </div>
                <div class="offers__block offer _cols _2">
                    <div class="offer__col _wide _left">
                        <div class="offer__sector _sizeR">
                            <img src="assets/images/logo-colins.png" width="113" height="29" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Также стоит зайти в магазины <a href="http://www.colins.ru/c/worldcup-513" target="_blank">Colin’s</a> — этот бренд предлагает шикарные мужские футболки на тему футбола. Наш фаворит — принт с ревущим медведем в цветах национального флага! </p>
                        </div>
                        <div class="offer__sector">
                            <img src="assets/images/img-12.jpg" width="222" height="278" alt="">
                        </div>
                    </div>
                    <div class="offer__col _narrow _right">
                        <div class="offer__sector">
                            <img src="assets/images/img-13.jpg" width="321" height="503" alt="">
                        </div>
                        <a href="http://www.colins.ru/c/worldcup-513" target="_blank" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="offers__block offer _cols _3">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector">
                            <img src="assets/images/img-14.jpg" width="313" height="313" alt="">
                        </div>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="tile _inner">
                            <p class="tile__text">Свою спортивную коллекцию выпустил и любимчик молодежи — бренд <a href="https://vk.com/hmrussia?w=wall-44934832_120799" target="_blank">H&amp;M</a>.</p>
                            <p class="tile__text">А в бутиках <a href="https://www.calvinklein.ru/">Calvin Klein</a> вас ждет эксклюзивная коллекция футболок и толстовок с принтами, посвященными российским городам — участникам главного события этого лета!</p>
                        </div>
                        <div class="offer__sector">
                            <img src="assets/images/img-11.png" width="202" height="223" alt="">
                        </div>
                    </div>
                </div>
                <div class="offers__block offer _cols _4">
                    <div class="offer__col _left">
                        <div class="offer__sector">
                            <img src="assets/images/logo-dom.png" width="136" height="136" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Ну а если вам захочется оставить себе на&nbsp;память нетривиальную сувенирную продукцию — ваш путь в магазины сети <a href="https://vk.com/tvoy_dom">«Твой Дом»</a>. Там можно купить даже тарелки с футбольными принтами, чтобы потом весь год за завтраком вспоминать, каким невероятным был этот чемпионат мира. </p>
                        </div>
                        <div class="offer__sector">
                            <img src="assets/images/img-15.jpg" width="266" height="261" alt="">
                        </div>
                    </div>
                    <div class="offer__col _right">
                        <div class="offer__sector">
                            <img src="assets/images/img-16.jpg" width="408" height="408" alt="">
                        </div>
                        <a href="https://vk.com/tvoy_dom" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="offers__block">
                    <div class="tile _center">
                        <p class="tile__text">Кстати, если решите устроить шопинг иностранным болельщикам, то и для них есть отличные новости — <b>Tax&nbsp;free</b> при покупке в магазинах <a href="#">Lacoste</a>, <a href="#">Calvin Klein</a>, <a href="#">Pandora</a>, <a href="#">Samsonite</a>, <a href="#">Massimo Dutti</a>, <a href="#">Uterqüe</a> и специальные предложения в магазинах <a href="#">G-Star</a> — эксклюзивно в «VEGAS Крокус Сити»!</p>
                    </div>
                </div>
                <h2 class="offers__block-title _right">Для юных фанатов <br>футбола</h2>
                <div class="offers__block offer _cols _5">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector">
                            <img src="assets/images/img-17.jpg" width="312" height="432" alt="">
                        </div>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="offer__sector">
                            <img src="assets/images/logo-ostin.jpg" width="207" height="72" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">Футбол — игра для всех возрастов. Юным фанатам понравятся вещи из лимитированной футбольной коллекции <a href="https://ostin.com/ru/ru/catalog/detskaya_odejda/" target="_blank">O’stin kids</a> — яркие поло, классные бейсболки, моднейшие олимпийки и даже красивые монохромные бомберы.</p>
                        </div>
                        <div class="offer__row">
                            <div class="offer__sector">
                                <img src="assets/images/img-18.jpg" width="279" height="234" alt="">
                            </div>
                            <a href="https://ostin.com/ru/ru/catalog/detskaya_odejda/" target="_blank" class="btn offer__link">
                                <span>Перейти</span>
                                <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="offers__block offer _cols _6">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector _sizeK">
                            <img src="assets/images/logo-korablik.png" width="161" height="38" alt="">
                        </div>
                        <div class="tile _inner">
                            <p class="tile__text">А в магазине <a href="#">«Кораблик»</a> в&nbsp;«VEGAS Кунцево», помимо мячей, плюшевых кепок и&nbsp;мягких игрушек — талисманов, особое внимание на «Хлоп-палку». Настоящий хит среди юных болельщиков!</p>
                        </div>
                        <a href="#" class="btn offer__link">
                            <span>Перейти</span>
                            <span class="icon"><img src="assets/images/link.png" width="6" height="11" alt=""></span>
                        </a>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="offer__sector">
                            <img src="assets/images/img-19.jpg" width="508" height="334" alt="">
                        </div>
                    </div>
                </div>
                <div class="offers__block">
                    <div class="tile _center">
                        <p class="tile__text">После шопинга — создав яркий фанатский образ, приходите смотреть прямые трансляции игр плей-офф. Подробное расписание трансляций матчей <a href="#">можно узнать тут</a>.</p>
                    </div>
                </div>
                <div class="offers__block offer _cols _5">
                    <div class="offer__col _narrow _left">
                        <div class="offer__sector">
                            <img src="assets/images/img-20.jpg" width="312" height="432" alt="">
                        </div>
                    </div>
                    <div class="offer__col _wide _right">
                        <div class="tile _inner">
                            <p class="tile__text">И не забудьте, по паспорту болельщика во многих ресторанах вас ждет отличная скидка. Воспользоваться ею можно в <a href="#">Zafferano</a>, <a href="#">«Эдоко»</a>, <a href="#">Forte Bello</a>, <a href="#">Backstage</a>, <a href="#">«У DЯDИ МАКСА»</a>, <a href="#">Shore House</a>, <a href="#">Casa Mia</a>, <a href="#">«Трактиръ Пожарского»</a>, <a href="#">Asia</a>, <a href="#">Vegas Cafe</a>, <a href="#">Fusion</a>, <a href="#">IL Primo</a>, <a href="#">PAPA’S BURGER</a>, <a href="#">«Рюмка водки Лепс»</a>, <a href="#">Rose bar.</a> </p>
                        </div>
                        <div class="offer__sector">
                            <img src="assets/images/img-21.jpg" width="279" height="234" alt="">
                        </div>
                    </div>
                </div>
                <div class="offers__block offer _cols _2">
                    <div class="offer__col _wide _left">
                        <div class="tile _inner">
                            <p class="tile__text">А на десерт загляните в уютную кондитерскую <a href="#">«Любовь и сладости»</a> в «VEGAS Крокус Сити» (cемейная кондитерская Сергея Жукова и Регины Бурд) — попробуйте тематическую линейку футбольных десертов: леденцы с изображениями топовых мировых игроков (Роналду на палочке!), имбирные пряники с футбольной символикой или нежные бисквиты в шоколадной глазури в виде футбольных мячей.</p>
                            <p class="tile__text">А любителей пончиков в <a href="#">Krispy Kreme</a> ждет уникальный (как победный гол, забитый на 91-й минуте матча) пончик шелл «Футбольный». </p>
                        </div>
                        <div class="offer__sector _size5">
                            <img src="assets/images/img-22.jpg" width="356" height="241" alt="">
                        </div>
                    </div>
                    <div class="offer__col _narrow _right">
                        <div class="offer__sector">
                            <img src="assets/images/img-23.jpg" width="311" height="503" alt="">
                        </div>
                    </div>
                </div>
                <div class="offers__block">
                    <div class="tile _left">
                        <p class="tile__text"><b>В общем, все в VEGAS! И болеем за наших!</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uncover">
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
            <div class="uncover__slice"></div>
        </div>
    </div>
    <a href="#intro" class="scroll-link menuanchor" data-menuanchor="intro">
        <img src="assets/images/arr.png" width="16" height="11" alt="">
    </a>
</section>


