<header class="page-header" id="header">
    <div class="page-header__wrapper layout-positioner">
        <a href="#" class="logo">
            <svg width="113" height="23">
                <use xlink:href="#logo" />
            </svg>
        </a>
        <button class="navigation-trigger js-menu-trigger" type="button">
            <span>Меню</span>
        </button>
        <nav class="navigation js-menu" id="menu">
            <ul class="main-navigation">
                <li class="menuanchor" data-menuanchor="games">
                    <a href="#games">Матчи</a>
                </li>
                <li class="menuanchor" data-menuanchor="offers">
                    <a href="#offers">Акции</a>
                </li>
                <li class="menuanchor active" data-menuanchor="intro">
                    <a href="#intro">О проекте</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="logo-vegas">
            <img src="assets/images/logo-vegas.png" width="125" height="62" alt="">
        </a>
    </div>
</header>