/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th, ul {
  padding: 0; }

ul {
  margin: 0; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratBold.eot");
  src: url("../fonts/MontserratBold.eot") format("embedded-opentype"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratExtraBold.eot");
  src: url("../fonts/MontserratExtraBold.eot") format("embedded-opentype"), url("../fonts/MontserratExtraBold.woff2") format("woff2"), url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: block; }

.uncover {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  pointer-events: none; }
  .uncover__slice {
    width: 20%;
    min-width: 20px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.5s ease-in-out 0.7s;
    transition: -webkit-transform 0.5s ease-in-out 0.7s;
    transition: transform 0.5s ease-in-out 0.7s;
    transition: transform 0.5s ease-in-out 0.7s, -webkit-transform 0.5s ease-in-out 0.7s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 50; }
  .uncover.instant .uncover__slice {
    -webkit-transition: none !important;
    transition: none !important; }

.fp-section.active .uncover__slice {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .fp-section.active .uncover__slice:nth-child(2) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.9s;
    transition: -webkit-transform 0.3s ease-in-out 0.9s;
    transition: transform 0.3s ease-in-out 0.9s;
    transition: transform 0.3s ease-in-out 0.9s, -webkit-transform 0.3s ease-in-out 0.9s; }
  .fp-section.active .uncover__slice:nth-child(3) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.1s;
    transition: -webkit-transform 0.3s ease-in-out 1.1s;
    transition: transform 0.3s ease-in-out 1.1s;
    transition: transform 0.3s ease-in-out 1.1s, -webkit-transform 0.3s ease-in-out 1.1s; }
  .fp-section.active .uncover__slice:nth-child(4) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.3s;
    transition: -webkit-transform 0.3s ease-in-out 1.3s;
    transition: transform 0.3s ease-in-out 1.3s;
    transition: transform 0.3s ease-in-out 1.3s, -webkit-transform 0.3s ease-in-out 1.3s; }
  .fp-section.active .uncover__slice:nth-child(5) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.5s;
    transition: -webkit-transform 0.3s ease-in-out 1.5s;
    transition: transform 0.3s ease-in-out 1.5s;
    transition: transform 0.3s ease-in-out 1.5s, -webkit-transform 0.3s ease-in-out 1.5s; }

.offers .uncover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .offers .uncover__slice {
    width: 100%;
    height: 20vh;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.offers.fp-section.active .uncover__slice {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  .offers.fp-section.active .uncover__slice:nth-child(2) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.9s;
    transition: -webkit-transform 0.3s ease-in-out 0.9s;
    transition: transform 0.3s ease-in-out 0.9s;
    transition: transform 0.3s ease-in-out 0.9s, -webkit-transform 0.3s ease-in-out 0.9s; }
  .offers.fp-section.active .uncover__slice:nth-child(3) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.1s;
    transition: -webkit-transform 0.3s ease-in-out 1.1s;
    transition: transform 0.3s ease-in-out 1.1s;
    transition: transform 0.3s ease-in-out 1.1s, -webkit-transform 0.3s ease-in-out 1.1s; }
  .offers.fp-section.active .uncover__slice:nth-child(4) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.3s;
    transition: -webkit-transform 0.3s ease-in-out 1.3s;
    transition: transform 0.3s ease-in-out 1.3s;
    transition: transform 0.3s ease-in-out 1.3s, -webkit-transform 0.3s ease-in-out 1.3s; }
  .offers.fp-section.active .uncover__slice:nth-child(5) {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 1.5s;
    transition: -webkit-transform 0.3s ease-in-out 1.5s;
    transition: transform 0.3s ease-in-out 1.5s;
    transition: transform 0.3s ease-in-out 1.5s, -webkit-transform 0.3s ease-in-out 1.5s; }

html {
  width: 100%; }

html * {
  max-height: 1000000px; }

body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5625;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.overflow {
    height: 100vh;
    overflow: hidden; }
  body.scrollspy {
    position: relative; }

.global-wrapper {
  position: relative;
  min-height: 100vh; }

.layout-positioner {
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 768px) {
    .layout-positioner {
      padding: 0 16px; } }

.hidden {
  display: none !important; }

.invisible {
  position: absolute;
  z-index: -100;
  visibility: hidden; }

.svg-wrapper {
  position: absolute;
  opacity: 0;
  z-index: -100; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.scrollable .mCSB_scrollTools {
  width: 4px;
  margin-right: 10px; }

.scrollable .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.scrollable .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255, 255, 255, 0); }

a:hover, a:focus {
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.iScrollIndicator {
  background-color: rgba(255, 255, 255, 0) !important; }

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/**
 * Swiper 4.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 13, 2017
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  width: 100%;
  height: 62px;
  background-color: #fff;
  z-index: 100; }
  @media (max-width: 768px) {
    .page-header {
      height: 74px;
      z-index: 102; } }
  @media (max-width: 640px) {
    .page-header {
      padding-top: 8px;
      height: 37px; } }
  .page-header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.logo,
.logo-vegas {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .logo img,
  .logo svg,
  .logo-vegas img,
  .logo-vegas svg {
    display: block;
    width: 100%;
    height: auto; }
  .logo:hover, .logo:focus,
  .logo-vegas:hover,
  .logo-vegas:focus {
    opacity: 0.8; }

.logo {
  margin-right: auto;
  padding-top: 5px;
  width: 113px; }
  @media (max-width: 768px) {
    .logo {
      width: 176px; } }
  @media (max-width: 640px) {
    .logo {
      width: 88px; } }

.logo-vegas {
  margin-right: 16px;
  margin-left: auto;
  width: 125px; }
  @media (max-width: 768px) {
    .logo-vegas {
      margin-right: 7px;
      width: 154px; } }
  @media (max-width: 640px) {
    .logo-vegas {
      margin-right: 4px;
      width: 77px; } }

.navigation {
  position: fixed;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 101; }
  @media (max-width: 768px) {
    .navigation {
      top: 74px;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-image: -webkit-linear-gradient(316deg, #ad67cb 0%, #e440b4 100%);
      background-image: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
      .navigation.opened {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }
  @media (max-width: 640px) {
    .navigation {
      top: 37px; } }
  .navigation-trigger {
    position: fixed;
    top: 120px;
    right: 50px;
    display: none;
    width: 42px;
    height: 40px;
    font-size: 0;
    border: none;
    outline: none;
    background: transparent; }
    @media (max-width: 640px) {
      .navigation-trigger {
        top: 60px;
        right: 25px;
        width: 21px;
        height: 20px; } }
    .navigation-trigger span {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 8px;
      background-color: #fff; }
      @media (max-width: 640px) {
        .navigation-trigger span {
          height: 4px; } }
      .navigation-trigger span:before, .navigation-trigger span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
        @media (max-width: 640px) {
          .navigation-trigger span:before, .navigation-trigger span:after {
            height: 4px; } }
      .navigation-trigger span:before {
        top: -16px; }
        @media (max-width: 640px) {
          .navigation-trigger span:before {
            top: -8px; } }
      .navigation-trigger span:after {
        bottom: -16px; }
        @media (max-width: 640px) {
          .navigation-trigger span:after {
            bottom: -8px; } }
    .navigation-trigger.active span {
      background-color: rgba(255, 255, 255, 0); }
      .navigation-trigger.active span:before, .navigation-trigger.active span:after {
        top: 0;
        bottom: auto;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .navigation-trigger.active span:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    @media (max-width: 768px) {
      .navigation-trigger {
        display: block; } }

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .main-navigation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .main-navigation li {
    margin: 0 19px; }
    @media (max-width: 768px) {
      .main-navigation li {
        margin: 30px 0; } }
    @media (max-width: 640px) {
      .main-navigation li {
        margin: 15px 0; } }
    .main-navigation li.active a {
      color: #fff;
      background-image: -webkit-linear-gradient(316deg, #ad67cb 0%, #e440b4 100%);
      background-image: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%); }
      @media (max-width: 768px) {
        .main-navigation li.active a {
          color: #b662c8;
          background-color: #fff;
          background-image: none; } }
  .main-navigation a {
    display: block;
    padding: 0 7px;
    height: 31px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 31px;
    color: #333;
    -webkit-transition: color 0.3s ease, background-image 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-image 0.3s ease, background-color 0.3s ease; }
    @media (max-width: 768px) {
      .main-navigation a {
        padding: 0 35px;
        height: 76px;
        color: #fff;
        font-weight: 500;
        font-size: 38px;
        line-height: 76px; } }
    @media (max-width: 640px) {
      .main-navigation a {
        padding: 0 18px;
        height: 38px;
        font-size: 19px;
        line-height: 38px; } }
    .main-navigation a:hover {
      color: #fff;
      background-image: -webkit-linear-gradient(316deg, #ad67cb 0%, #e440b4 100%);
      background-image: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%); }
      @media (max-width: 768px) {
        .main-navigation a:hover {
          color: #b662c8;
          background-color: #fff; } }

.page-footer {
  position: fixed;
  bottom: 12px;
  left: 12px;
  right: 12px; }
  @media (max-width: 768px) {
    .page-footer {
      z-index: 103; } }

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 9px;
  padding-top: 62px; }
  @media (max-width: 768px) {
    .section {
      padding: 0;
      padding-top: 74px; } }
  @media (max-width: 640px) {
    .section {
      padding-top: 37px; } }
  .section__wrapper {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4px;
    background-image: -webkit-linear-gradient(316deg, #ad67cb 0%, #e440b4 100%);
    background-image: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%); }
    @media (max-width: 768px) {
      .section__wrapper {
        padding: 6px;
        min-height: -webkit-calc(100vh - 86px);
        min-height: calc(100vh - 86px); } }
    @media (max-width: 640px) {
      .section__wrapper {
        padding: 3px;
        min-height: -webkit-calc(100vh - 43px);
        min-height: calc(100vh - 43px); } }
  .section__inner {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #6293aa; }
    .section__inner > * {
      position: relative; }
    .section__inner:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2); }

.intro__inner {
  background-image: url("../images/bg-intro.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }
  @media (max-width: 640px) {
    .intro__inner {
      background-image: url("../images/bg-intro-mob.jpg"); } }

.intro__title {
  margin: 0 0 27px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 91px;
  line-height: 90px; }
  @media (max-width: 768px) {
    .intro__title {
      margin-bottom: 15px;
      font-size: 78px;
      line-height: 112px; } }
  @media (max-width: 640px) {
    .intro__title {
      margin-bottom: 8px;
      font-size: 39px;
      line-height: 56px; } }

.intro__text {
  margin: 0 auto;
  max-width: 660px;
  text-align: center;
  font-size: 500px;
  font-size: 17px;
  line-height: 25px; }
  @media (max-width: 768px) {
    .intro__text {
      margin-bottom: 300px;
      font-weight: 500;
      font-size: 28px;
      line-height: 36px; }
      .intro__text br {
        display: none; } }
  @media (max-width: 640px) {
    .intro__text {
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 18px; } }

.games__inner {
  background-image: url("../images/bg-games.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }
  @media (max-width: 640px) {
    .games__inner {
      background-image: url("../images/bg-games-mob.jpg"); } }

.games__title {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px; }
  @media (max-width: 768px) {
    .games__title {
      margin-bottom: 28px;
      font-size: 42px;
      line-height: 48px; } }
  @media (max-width: 640px) {
    .games__title {
      margin-bottom: 14px;
      font-size: 21px;
      line-height: 24px; } }

.games__text {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px; }
  @media (max-width: 768px) {
    .games__text {
      font-size: 28px;
      line-height: 36px; } }
  @media (max-width: 640px) {
    .games__text {
      font-size: 14px;
      line-height: 18px; } }

.games-slider {
  margin-top: 45px;
  max-width: 100%; }
  @media (max-width: 768px) {
    .games-slider {
      margin-top: 50px; } }
  @media (max-width: 640px) {
    .games-slider {
      margin-top: 25px; } }
  .games-slider-prev, .games-slider-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    width: 38px;
    height: 38px;
    background-color: #fff;
    z-index: 1;
    cursor: pointer; }
    .games-slider-prev:hover, .games-slider-next:hover {
      opacity: 0.7; }
    @media (max-width: 768px) {
      .games-slider-prev, .games-slider-next {
        width: 63px;
        height: 96px; } }
    @media (max-width: 640px) {
      .games-slider-prev, .games-slider-next {
        width: 32px;
        height: 48px; } }
    .games-slider-prev img, .games-slider-next img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block; }
      @media (max-width: 768px) {
        .games-slider-prev img, .games-slider-next img {
          width: 26px;
          height: 39px; } }
      @media (max-width: 640px) {
        .games-slider-prev img, .games-slider-next img {
          width: 13px;
          height: 20px; } }
  .games-slider-prev {
    left: -4px; }
    @media (max-width: 768px) {
      .games-slider-prev {
        left: -6px; }
        .games-slider-prev img {
          margin-left: -6px; } }
    @media (max-width: 640px) {
      .games-slider-prev {
        left: -3px; }
        .games-slider-prev img {
          margin-left: -3px; } }
  .games-slider-next {
    right: -4px; }
    @media (max-width: 768px) {
      .games-slider-next {
        right: -6px; }
        .games-slider-next img {
          margin-left: 6px; } }
    @media (max-width: 640px) {
      .games-slider-next {
        right: -3px; }
        .games-slider-next img {
          margin-left: 3px; } }

.games-slide {
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  @media (max-width: 768px) {
    .games-slide {
      padding-bottom: 100px; } }
  @media (max-width: 640px) {
    .games-slide {
      padding-bottom: 50px; } }
  .games-slide.swiper-slide-active {
    opacity: 1; }
  .games-slide__title {
    margin: 0 0 25px 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px; }
    @media (max-width: 768px) {
      .games-slide__title {
        margin-bottom: 33px;
        font-size: 26px;
        line-height: 32px; } }
    @media (max-width: 640px) {
      .games-slide__title {
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 16px; } }
  .games-slide__item {
    margin-bottom: 26px; }
    .games-slide__item:last-child {
      margin-bottom: 0; }
    @media (max-width: 640px) {
      .games-slide__item {
        margin-bottom: 13px; } }
  .games-slide__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px; }
    @media (max-width: 768px) {
      .games-slide__info {
        margin-bottom: 5px;
        font-size: 30px;
        line-height: 40px; } }
    @media (max-width: 640px) {
      .games-slide__info {
        margin-bottom: 3px;
        font-size: 15px;
        line-height: 20px; } }
  .games-slide__flag {
    margin: 0 25px;
    display: block;
    width: 54px;
    height: 36px; }
    @media (max-width: 768px) {
      .games-slide__flag {
        display: none; } }
  .games-slide__date {
    margin: 0;
    text-transform: uppercase;
    font-size: 11.72px;
    line-height: 21px; }
    @media (max-width: 768px) {
      .games-slide__date {
        font-size: 22px;
        line-height: 34px; } }
    @media (max-width: 640px) {
      .games-slide__date {
        font-size: 11px;
        line-height: 17px; } }

.offers {
  height: auto !important;
  background-color: transparent; }
  .offers__wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px; }
    @media (max-width: 768px) {
      .offers__wrapper {
        padding-top: 125px; } }
    @media (max-width: 640px) {
      .offers__wrapper {
        padding-top: 63px; } }
  .offers__bg {
    position: absolute;
    top: -46px;
    bottom: -96px;
    left: 0;
    right: 0;
    background-color: #0E0E0C;
    background-repeat: no-repeat;
    background-image: url("../images/bg-offers.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: top left; }
    @media (max-width: 768px) {
      .offers__bg {
        top: -119px; } }
    @media (max-width: 640px) {
      .offers__bg {
        top: -60px; } }
  .offers__inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    background-image: none; }
    .offers__inner:before {
      display: none; }
  .offers__content {
    margin: 0 auto;
    padding: 0 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1064px; }
    @media (max-width: 1024px) {
      .offers__content {
        max-width: 100%; } }
    @media (max-width: 768px) {
      .offers__content {
        padding: 0;
        margin-left: -6px;
        margin-right: -6px;
        max-width: -webkit-calc(100% + 12px);
        max-width: calc(100% + 12px); } }
    @media (max-width: 640px) {
      .offers__content {
        margin-left: -3px;
        margin-right: -3px;
        max-width: -webkit-calc(100% + 6px);
        max-width: calc(100% + 6px); } }
  .offers__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 60px; }
    @media (max-width: 640px) {
      .offers__block {
        margin-bottom: 40px; } }
  .offers__block-title {
    margin: 0 0 30px;
    font-weight: 800;
    font-size: 50.98px;
    line-height: 52.58px; }
    @media (max-width: 768px) {
      .offers__block-title {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 25px;
        line-height: 26px; } }
    .offers__block-title._right {
      text-align: right; }

._cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 640px) {
    ._cols {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  ._cols._bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.offer {
  margin-left: auto;
  max-width: 900px; }
  .offer._1 {
    margin-bottom: 80px; }
    @media (max-width: 640px) {
      .offer._1 {
        margin-bottom: 40px; } }
    .offer._1 .offer__link {
      position: absolute;
      left: 311px;
      bottom: 35px; }
      @media (max-width: 768px) {
        .offer._1 .offer__link {
          position: static; } }
  .offer._2 {
    margin-bottom: 90px; }
    @media (max-width: 640px) {
      .offer._2 {
        margin-bottom: 45px; } }
  .offer._3 {
    margin-bottom: 85px; }
    @media (max-width: 640px) {
      .offer._3 {
        margin-bottom: 40px; } }
  .offer._4 .offer__col._right {
    padding-top: 43px; }
    @media (max-width: 640px) {
      .offer._4 .offer__col._right {
        padding-top: 0; } }
  .offer._5 ._wide {
    padding-top: 25px; }
    @media (max-width: 640px) {
      .offer._5 ._wide {
        padding-top: 0; } }
  .offer._6 ._wide {
    width: 61.68%; }
    @media (max-width: 640px) {
      .offer._6 ._wide {
        width: 100%; } }
  .offer._6 ._narrow {
    width: 38.32%; }
    @media (max-width: 640px) {
      .offer._6 ._narrow {
        width: 100%; } }
  .offer._6 .offer__col._right {
    padding-top: 0; }
  .offer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .offer__col {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
    @media (max-width: 640px) {
      .offer__col {
        width: 100%; } }
    .offer__col._left {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -moz-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .offer__col._left._wide {
        padding-top: 60px;
        width: 62.22%;
        min-width: 62.22%; }
        @media (max-width: 640px) {
          .offer__col._left._wide {
            width: 100%; } }
      .offer__col._left._narrow {
        width: 37.78%;
        min-width: 37.78%; }
        @media (max-width: 640px) {
          .offer__col._left._narrow {
            width: 100%; } }
    .offer__col._right {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .offer__col._right._wide {
        padding-top: 68px;
        width: 62.22%;
        min-width: 62.22%; }
        @media (max-width: 640px) {
          .offer__col._right._wide {
            padding-top: 0;
            width: 100%; } }
      .offer__col._right._narrow {
        width: 37.78%;
        min-width: 37.78%; }
        @media (max-width: 640px) {
          .offer__col._right._narrow {
            width: 100%; } }
  .offer__sector {
    position: relative;
    background-color: #fff;
    max-width: 100%; }
    .offer__sector._size3 {
      width: 145px;
      height: 122px; }
      .offer__sector._size3 img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .offer__sector._size4 {
      width: 311px; }
    .offer__sector._size5 {
      width: 340px; }
    .offer__sector._size6 {
      margin-left: 75px;
      width: 615px; }
    .offer__sector._sizeR {
      position: relative;
      width: 145px;
      height: 70px; }
      .offer__sector._sizeR img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .offer__sector._sizeK {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 23px;
      padding-right: 23px;
      width: 200px;
      height: 72px; }
      .offer__sector._sizeK img {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -moz-box-flex: 0;
        -ms-flex: none;
        flex: none; }
    .offer__sector img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto; }

.tile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 38px;
  max-width: 734px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #333;
  background-color: #fff; }
  @media (max-width: 768px) {
    .tile {
      padding: 36px 32px;
      max-width: 100%;
      text-align: left;
      font-size: 28px;
      line-height: 36px; } }
  @media (max-width: 640px) {
    .tile {
      padding: 18px 16px;
      font-size: 14px;
      line-height: 18px; } }
  .tile__title {
    margin: 0 0 12px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px; }
    @media (max-width: 768px) {
      .tile__title {
        font-size: 42px;
        line-height: 64px; } }
    @media (max-width: 640px) {
      .tile__title {
        margin-bottom: 6px;
        font-size: 21px;
        line-height: 32px; } }
  .tile__text {
    margin: 0; }
    @media (max-width: 768px) {
      .tile__text {
        margin-bottom: 36px; }
        .tile__text:last-child {
          margin-bottom: 0; } }
    @media (max-width: 640px) {
      .tile__text {
        margin-bottom: 18px; } }
    .tile__text a {
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-weight: 600;
      color: #ad68cb; }
      .tile__text a:hover {
        opacity: 0.7; }
  .tile._center {
    margin-left: auto;
    margin-right: auto; }
  .tile._2 {
    margin-left: 90px;
    max-width: 454px; }
  .tile._inner {
    padding-left: 28px;
    padding-right: 28px; }
  .tile._left {
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    vertical-align: top; }

.scroll-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  bottom: 0;
  display: block;
  width: 38px;
  height: 36px;
  background-color: #fff;
  z-index: 1; }
  .scroll-link:hover {
    opacity: 0.7; }
  @media (max-width: 768px) {
    .scroll-link {
      width: 96px;
      height: 72px; } }
  @media (max-width: 640px) {
    .scroll-link {
      width: 48px;
      height: 36px; } }
  .scroll-link img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block; }
    @media (max-width: 768px) {
      .scroll-link img {
        width: 39px;
        height: 26px; } }
    @media (max-width: 640px) {
      .scroll-link img {
        width: 20px;
        height: 13px; } }

.btn {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 7px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  color: #fff;
  background-image: -webkit-linear-gradient(316deg, #ad67cb 0%, #e440b4 100%);
  background-image: linear-gradient(134deg, #ad67cb 0%, #e440b4 100%);
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    opacity: 0.7; }
  .btn .icon {
    margin-left: 4px; }
    .btn .icon img {
      display: block; }

.share {
  position: absolute;
  bottom: 0;
  left: 0; }
  @media (max-width: 768px) {
    .share {
      right: 0;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      .share.visible {
        opacity: 1;
        pointer-events: initial; } }

.ya-share2__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px; }
  @media (max-width: 768px) {
    .ya-share2__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.ya-share2__item {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin: 8px 4px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center; }
  .ya-share2__item:hover {
    opacity: 0.7; }
  @media (max-width: 768px) {
    .ya-share2__item {
      margin: 65px 4px; } }
  @media (max-width: 640px) {
    .ya-share2__item {
      margin: 32px 2px; } }
  .ya-share2__item_service_vkontakte {
    background-image: url("../images/svg/vk.svg");
    -webkit-background-size: 14px 9px;
    background-size: 14px 9px; }
    @media (max-width: 768px) {
      .ya-share2__item_service_vkontakte {
        -webkit-background-size: 37px 21px;
        background-size: 37px 21px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_vkontakte {
        -webkit-background-size: 18px 10px;
        background-size: 18px 10px; } }
  .ya-share2__item_service_facebook {
    background-image: url("../images/svg/fb.svg");
    -webkit-background-size: 6px 11px;
    background-size: 6px 11px; }
    @media (max-width: 768px) {
      .ya-share2__item_service_facebook {
        -webkit-background-size: 16px 29px;
        background-size: 16px 29px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_facebook {
        -webkit-background-size: 8px 15px;
        background-size: 8px 15px; } }
  .ya-share2__item_service_twitter {
    background-image: url("../images/svg/tw.svg");
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px; }
    @media (max-width: 768px) {
      .ya-share2__item_service_twitter {
        -webkit-background-size: 27px 24px;
        background-size: 27px 24px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_twitter {
        -webkit-background-size: 14px 12px;
        background-size: 14px 12px; } }
  .ya-share2__item_service_odnoklassniki {
    background-image: url("../images/svg/ok.svg");
    -webkit-background-size: 9px 14px;
    background-size: 9px 14px; }
    @media (max-width: 768px) {
      .ya-share2__item_service_odnoklassniki {
        -webkit-background-size: 23px 37px;
        background-size: 23px 37px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_odnoklassniki {
        -webkit-background-size: 12px 19px;
        background-size: 12px 19px; } }

.ya-share2__link {
  display: block;
  text-decoration: none;
  width: 25px;
  height: 20px; }
  @media (max-width: 768px) {
    .ya-share2__link {
      width: 80px;
      height: 45px; } }
  @media (max-width: 640px) {
    .ya-share2__link {
      width: 40px;
      height: 22px; } }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
