.page-header
    position: fixed
    top: 0
    left: 0
    right: 0
    box-sizing: border-box
    padding-top: 15px
    width: 100%
    height: 62px
    background-color: #fff
    z-index: 100

    @media (max-width: $screenXS)
        height: 74px
        z-index: 102

    @media (max-width: $screenXXS)
        padding-top: 8px
        height: 37px

    &__wrapper 
        display: flex
        align-items: flex-start

.logo,
.logo-vegas 
    transition: opacity 0.3s ease

    img,
    svg 
        display: block
        width: 100%
        height: auto

    &:hover,
    &:focus 
        opacity: 0.8

.logo
    margin-right: auto
    padding-top: 5px
    width: 113px

    @media (max-width: $screenXS)
        width: 176px

    @media (max-width: $screenXXS)
        width: 88px

.logo-vegas
    margin-right: 16px
    margin-left: auto
    width: 125px

    @media (max-width: $screenXS)
        margin-right: 7px
        width: 154px

    @media (max-width: $screenXXS)
        margin-right: 4px
        width: 77px

.navigation
    position: fixed
    top: 16px
    left: 50%
    transform: translateX(-50%)
    z-index: 101

    @media (max-width: $screenXS)
        top: 74px
        bottom: 0
        left: 0
        right: 0
        transform: translateX(-100%)
        display: flex
        flex-direction: column
        justify-content: center
        background-image: $grad
        transition: transform 0.3s ease

        &.opened
            transform: translateX(0)

    @media (max-width: $screenXXS)
        top: 37px

    &-trigger 
        position: fixed
        top: 120px
        right: 50px
        display: none
        width: 42px
        height: 40px
        font-size: 0
        border: none
        outline: none
        background: transparent

        @media (max-width: $screenXXS)
            top: 60px
            right: 25px
            width: 21px
            height: 20px

        span 
            @include centerV
            left: 0
            width: 100%
            height: 8px
            background-color: #fff

            @media (max-width: $screenXXS)
                height: 4px

            &:before,
            &:after 
                content: ""
                position: absolute
                left: 0
                width: 100%
                height: 8px
                background-color: #fff 
                transition: transform 0.3s ease

                @media (max-width: $screenXXS)
                    height: 4px

            &:before 
                top: -16px

                @media (max-width: $screenXXS)
                    top: -8px

            &:after 
                bottom: -16px

                @media (max-width: $screenXXS)
                    bottom: -8px

        &.active 

            span 
                background-color: $transparent 

                &:before,
                &:after 
                    top: 0
                    bottom: auto
                    transform: rotate(45deg)

                &:after 
                    transform: rotate(-45deg)

        @media (max-width: $screenXS)
            display: block

.main-navigation
    @include list-reset
    display: flex
    margin: 0 auto

    @media (max-width: $screenXS)
        flex-direction: column
        align-items: center

    li 
        margin: 0 19px

        @media (max-width: $screenXS)
            margin: 30px 0

        @media (max-width: $screenXXS)
            margin: 15px 0

        &.active

            a
                color: #fff 
                background-image: $grad

                @media (max-width: $screenXS)
                    color: #b662c8
                    background-color: #fff
                    background-image: none

    a
        display: block
        padding: 0 7px
        height: 31px
        text-transform: uppercase
        font-weight: 700
        font-size: 13px
        line-height: 31px
        color: $textColor
        transition: color 0.3s ease, background-image 0.3s ease, background-color 0.3s ease

        @media (max-width: $screenXS)
            padding: 0 35px
            height: 76px
            color: #fff
            font-weight: 500
            font-size: 38px
            line-height: 76px

        @media (max-width: $screenXXS)
            padding: 0 18px
            height: 38px
            font-size: 19px
            line-height: 38px

        &:hover
            color: #fff 
            background-image: $grad

            @media (max-width: $screenXS)
                color: #b662c8
                background-color: #fff